openai
python-dotenv
unstructured[local-inference]
pydantic==2.10.6
pandas==2.3.2
openpyxl
tqdm
faiss-cpu
numpy
tiktoken
google-generativeai
sentence-transformers
setfit
datasets
textblob
textstat
streamlit
torch
gdown
langgraph
langchain
langchain-openai
langchain_experimental
pandas
tabulate
langchain-community
tavily-python
libsql
libsql-client
tenacity
aiohttp
rich
psycopg[binary,pool]==3.2.4
pgvector==0.3.6
langchain-core==0.3.31
alembic
chromadb
redis
polars
rapidfuzz
pysqlite3-binary