openai
python-dotenv
unstructured[local-inference]
pandas
openpyxl
tqdm
faiss-cpu
numpy
tiktoken
google-generativeai
sentence-transformers
setfit
datasets
textblob
textstat
streamlit
torch
gdown
langgraph
langchain
langchain-openai
langchain_experimental
pandas
tabulate
langchain-community
tavily-python
libsql
libsql-client
tenacity
aiohttp
rich